<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Climate Pollutants Visualizer Tool</title>
  </head>

  <body>
    <div class="container-fluid">


      <!-- Import Menu Section -->
      <section id="MenuSection" class="jumbotron">
        <img src="https://scontent.fhyd1-4.fna.fbcdn.net/v/t39.30808-6/305302096_103383652519027_1857097980930655896_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=UnY3ANLdQ3UAX-HOc-P&tn=GZbHbZd9OVZQxwgI&_nc_ht=scontent.fhyd1-4.fna&oh=00_AT8d7qo3cAVwEZouBJCJ4OJpLmjruPNN7S91cW0JPPIAgA&oe=631E7FC9" />
        <a id="myLink" href="https://www.facebook.com/profile.php?id=100085421770200" target="_blank">
        <button id="" class="btn btn-primary">
          Get in touch
        </button></a>

      </section>


      <!-- Home Section -->
      <section id="homeSection" class="jumbotron">
        <h3 class="display-5"><%= htmlWebpackPlugin.options.title %></h3>
        <p class="lead">
          Use your CSV data, plot the Carbon emissions/green house gases effect on the map. </p>
        <p class="lead">
          It's reasons for increase/decrease in each and every country,
          and as well as solutions to take, to fight for the climate change.</p>
        <hr class="my-4" />
        <p>When you're ready, click the button below to continue.</p>
        <button id="getStartedButton" class="btn btn-primary">
          Get Started
        </button>
      </section>

      <!-- Import Data Section -->
      <section id="importSection" class="jumbotron" style="display: none;">
        <h1 class="display-5">Import Data</h1>
        <div class="row">
          <div class="col">
            <p class="lead">Select a CSV file to parse and use with a map.</p>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input
                  id="csvFileInput"
                  type="file"
                  class="custom-file-input"
                  accept=".csv"
                  required
                />
                <label
                  id="csvFileLabel"
                  class="custom-file-label"
                  for="csvFileInput"
                  >Choose CSV file...</label
                >
              </div>
            </div>
          </div>
          <div class="col">
          <!--  <p class="lead">Or select a JSON file to open a saved map.</p> -->
            <div class="input-group mb-3">
              <div class="custom-file">
      <!--          <input
                  id="jsonFileInput"
                  type="file"
                  class="custom-file-input"
                  accept="application/json"
                  required
                />
                <label
                  id="jsonFileLabel"
                  class="custom-file-label"
                  for="jsonFileInput"
                  >Choose JSON file...</label
                > -->
              </div>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <p>When you're ready, click the button below to import your data.</p>
        <button id="importButton" class="btn btn-primary">Import</button>
      </section>

      <!-- Select Fields Section -->
      <section id="fieldsSection" class="jumbotron" style="display: none;">
        <h1 class="display-5">Select Fields</h1>
        <p class="lead">
          Choose required geocoding fields and also any data fields to include.
        </p>
        <form id="fieldsForm" novalidate>
          <div class="form-group row">
            <label for="addressInput" class="col-form-label col-sm-4"
              >Address</label
            >
            <div class="col-sm-6">
              <select
                id="addressInput"
                name="address"
                class="form-control"
                required
              ></select>
              <div class="invalid-feedback">
                Please choose a field for address.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="cityInput" class="col-form-label col-sm-4">City</label>
            <div class="col-sm-6">
              <select
                id="cityInput"
                name="city"
                class="form-control"
                required
              ></select>
              <div class="invalid-feedback">
                Please choose a field for city.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="provinceInput" class="col-form-label col-sm-4"
              >Province</label
            >
            <div class="col-sm-6">
              <select
                id="provinceInput"
                name="province"
                class="form-control"
                required
              ></select>
              <div class="invalid-feedback">
                Please choose a field for province.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="postalCodeInput" class="col-form-label col-sm-4"
              >Postal Code</label
            >
            <div class="col-sm-6">
              <select
                id="postalCodeInput"
                name="postalCode"
                class="form-control"
                required
              ></select>
              <div class="invalid-feedback">
                Please choose a field for postal code.
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="countryInput" class="col-form-label col-sm-4"
              >Country</label
            >
            <div class="col-sm-6">
              <select
                id="countryInput"
                name="country"
                class="form-control"
                required
              ></select>
              <div class="invalid-feedback">
                Please choose a field for country.
              </div>
            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-4">
                Data Fields <small><i>(Optional)</i></small>
              </legend>
              <div id="dataFieldsContainer" class="col-sm-6 mt-1"></div>
            </div>
          </fieldset>

          <hr class="my-4" />
          <p>
            When you're ready, click the button below to geocode
            <span id="fileSummarySpan"></span> and load your map.
          </p>
          <div
            id="progressBarContainer"
            class="progress mb-4"
            style="display: none;"
          >
            <div
              id="progressBar"
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              style="width: 0%;"
            >
              0%
            </div>
          </div>
          <button id="importReturnButton" class="btn btn-danger">Back</button>
          <button id="plotButton" class="btn btn-primary">Plot</button>
        </form>
      </section>

      <!-- Plan Route Section -->
      <section id="routeSection" class="jumbotron" style="display: none;">
        <div class="row">
          <div class="col">
            <h1 class="display-5">Details about the Green house gases</h1>
            <p class="lead">
              Select the locations in order to view the details.
            </p>
            <div id="map"></div>
            <div class="row mt-4">
              <div class="col">
                <b>Selected Location</b>
                <pre id="locationPre">No location to show.</pre>
              </div>
              <div class="col">
                <b>Selected Data</b>
                <pre id="dataPre">No data to show.</pre>
              </div>
            </div>
          </div>
          <div class="col">
            <table class="table table-sm">
              <thead class="thead-dark">

              </thead>
              <tbody id="locationTableBody">

              </tbody>
            </table>
          </div>
        </div>
        <hr class="my-4" />
        <p>
          Click one of the buttons below to export a PDF report or export your
          JSON data.
        </p>
        <button id="fieldsReturnButton" class="btn btn-danger">Back</button>
        <!--<button id="exportPdfButton" class="btn btn-primary">Export PDF</button> -->
        <a id="exportJsonButton" class="btn btn-primary" href="#"
          >Export JSON</a
        >
      </section>

      <hr class="my-4" />
      <!-- Footer Section -->
      <section id="footerSection" >

        <div class="row">
          <div class="col">
            <div class="input-group">
              <div class="custom-file">

                <p><span>
                  <?xml version="1.0" encoding="iso-8859-1"?>
                  <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  	 viewBox="0 0 367.467 367.467" style="enable-background:new 0 0 367.467 367.467;" xml:space="preserve">
                  <g>
                  	<path d="M183.73,0.018C82.427,0.018,0,82.404,0,183.733c0,101.289,82.427,183.716,183.73,183.716
                  		c101.315,0,183.737-82.427,183.737-183.716C367.467,82.404,285.045,0.018,183.73,0.018z M183.73,326.518
                  		c-78.743,0-142.798-64.052-142.798-142.784c0-78.766,64.055-142.817,142.798-142.817c78.752,0,142.807,64.052,142.807,142.817
                  		C326.536,262.466,262.481,326.518,183.73,326.518z"/>
                  	<path d="M244.036,217.014c-11.737,20.141-33.562,32.635-56.956,32.635c-36.329,0-65.921-29.585-65.921-65.915
                  		c0-36.36,29.592-65.955,65.921-65.955c23.395,0,45.219,12.54,56.956,32.641l1.517,2.627h44.28l-2.658-7.129
                  		c-7.705-20.413-21.225-37.769-39.122-50.157c-17.942-12.42-39.017-19.009-60.973-19.009c-58.981,0-106.946,48.006-106.946,106.982
                  		c0,58.98,47.965,106.941,106.946,106.941c21.956,0,43.03-6.567,60.973-19.006c17.897-12.391,31.417-29.741,39.122-50.154
                  		l2.658-7.133h-44.28L244.036,217.014z"/>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  </svg>
                </span>
                  2022 Climate Pollutants Visualizer Tool. All rights recerved</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.apiKey %>&libraries=places"></script>
  </body>
</html>
